
p {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 5px;
  margin: 20px auto;
}

.h3-style {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 1px;
  margin: 20px auto;
}
hr {
    display: block;
    width: 75%;
    margin: auto;
    height: 1px;
    border: 0;
    border-top: 2px solid darkseagreen;

    padding: 0;
}
h5 {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 1px;
  margin: 20px auto;
}

a:link {
  color: darkgreen;
}
a:hover {
  color: forestgreen;
}
a:visited {
  color: darkgreen;
}
.zero-style {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        border-radius: 5px;
        height:65%;
        width:80%;
}

.one-style {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        border-radius: 5px;
        height:65%;
        width:80%;
}

.two-style {
      display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:480px;
  width:1000px;
}

.three-style {
      display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:480px;
  width:1000px;
}

.four-style {
      display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:480px;
  width:1000px;
}
.five-style {
  padding: 20px;
  border-radius: 5px;
  height: 480px;
          display: block;
  margin-left: auto;
  margin-right: auto;
  width:720px;
}
.six-style {
       display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
}

.flex-container {

      margin: 20px auto;
  width: 60%;
    display: flex;
    justify-content: space-between; /* Aligns the child elements on opposite ends */
    align-items: center; /* Vertically centers the children in the container */
    padding: 5px; /* Add padding as necessary */
}

.six_button {
    color: #ffffff; /* white text */
    background-color: #4eb66d; /* green background */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; /* smooth transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px; /* Add padding to size the button */
    width: 20%;
}

.text {
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 5px;

    flex-grow: 1; /* Allows the paragraph to fill the space */
}

th {
  text-align: left;
}
tr:hover {background-color: #c1eabc;}
.annual-rate {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
    height: 5%;
}

.seven-style {
  padding: 20px;
  border-radius: 5px;
  height: 480px;
          display: block;
  margin-left: auto;
  margin-right: auto;
  width:720px;
}

.eight-style {
  padding: 20px;
  border-radius: 5px;
  height: 480px;
          display: block;
  margin-left: auto;
  margin-right: auto;
  width:720px;
}


.parallel0 {
  display: flex;
  justify-content: space-between;
}

.nine-style, .eleven-style {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  height: 320px;
    width: 480px;
  max-width: calc(40% - 10px);
}



.parallel1 {
  display: flex;
  justify-content: space-between;
}

.ten-style, .twelve-style {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  height: 320px;
    width: 480px;
  max-width: calc(40% - 10px);
}

.fourteen-style {
      padding: 20px;
  border-radius: 5px;
  height: 320px;
          display: block;
  margin-left: auto;
  margin-right: auto;
  width:810px;
}

.fourteen-button {
        font-size: 16px;
    color: #ffffff; /* white text */
    background-color: #4eb66d; /* green background */
    border: none;
    border-radius: 25px; /* fully rounded ends */
    cursor: pointer;
    transition: all 0.3s ease; /* smooth transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px; /* Add padding to size the button */
    width: 20%;
}

.fifteen-style {
  display: block;
  margin-left: 20%;
  margin-right: 20%;
}
h2 {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  font-family:monospace;
  font-size: 1.2rem;
  padding: 1px;
  margin: 10px auto;
}


.sixteen-style {
    width: 60%;
  margin: 0 auto;
}

.eighteen-style{
      width: 60%;
  margin: 0 auto;
}



.wales-style {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wales-style h2 {
  text-align: center;
}

.wales-style #data-table {
  border-collapse: collapse;
  width: 75%;
  margin: 0 auto;
}

/* Add the chart container styles here */
.wales-style .chart-container {
  max-width: 800px;
  margin: 20px auto;
}

/* Add the chart canvas styles here */
.wales-style canvas {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 400px;
}

.wales-style #data-table th,
.wales-style #data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.wales-style #data-table th {
  background-color: #f2f2f2;
}

.wales-style tr:hover td:nth-child(5) {
  background-color: #c7f1c2;
}


.wales-style button {
  width: 25%;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color:  #036026;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.wales-style button:hover {
  background-color: #036026;
}

.wales-style .reload-btn {
  width: 25%;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  cursor: pointer;
  background-color:  #036026;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.wales-style .reload-btn:hover {
  background-color: #036026;
}
.wales-style .button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wales-style .button-container button {
  flex: 1;
  max-width: calc(33.33% - 10px); /* 10px for margin-right */
}