<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container400" style="height: 100%"></div>


  <script type="text/javascript" src="https://registry.npmmirror.com/echarts/5.4.3/files/dist/echarts.min.js"></script>
  <script type="text/javascript">
    var dom400 = document.getElementById('container400');
    var myChart400 = echarts.init(dom400, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};

    var option400;

    option400 = {
  tooltip: {
    trigger: 'axis'
  },
  legend: {
    data: ['Not adjusted for inflation', 'Adjusted']
  },
  toolbox: {
    show: true,
    feature: {
      dataView: { show: true, readOnly: false },
      magicType: { show: true, type: ['line', 'bar'] },
      restore: { show: true },
      saveAsImage: { show: true }
    }
  },
        dataZoom: [{type: 'slider', start: 0, end: 100, bottom: 10}],
  calculable: true,
  xAxis: [
    {
      type: 'category',
      // prettier-ignore
      data: ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018','2019', '2020', '2021', '2022']
    }
  ],
  yAxis: [
    {
      type: 'value'
    }
  ],
  series: [
    {
      name: 'Not adjusted for inflation',
      type: 'bar',
      data: [
        2153,2186,2874,3663,3302,3046,2948,3157,4891,5025,4583,5931,5333,6042,5748,4312,3963,6147,5241,5542,5257,5998,7940
      ],
      markPoint: {
        data: [
          { type: 'max', name: 'Max' },
          { type: 'min', name: 'Min' }
        ]
      },
      markLine: {
        data: [{ type: 'average', name: 'Avg' }]
      }
    },
    {
      name: 'Adjusted',
      type: 'bar',
      data: [
        2269,2304,3029,3861,3483,3211,3107,3327,5155,5296,4830,6252,5621,6368,6058,4545,4177,6479,5524,5841,5538,7151,7940
      ],
      markLine: {
        data: [{ type: 'average', name: 'Avg' }]
      }
    }
  ]
};

    if (option400 && typeof option400 === 'object') {
      myChart400.setOption(option400);
    }

    window.addEventListener('resize', myChart400.resize);
  </script>
</body>
</html>