<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <title>Home Page</title>
</head>
<body>
    <div>{% include 'header.html' %}</div>
    <p>Brexit officially took place at 23:00 GMT on 31 January 2020 (00:00 1 February 2020 CET).
     After 4 years, British people are coming to realize the effects of Brexit on their own lives and livelihoods.
    <p>Agriculture plays a significant economic role in the UK, supplying the agri-food sector and engaging in direct sales.
        The impact of Brexit is sure to have vast implications on the role of agriculture in the UK, as the EU's Common Agricultural Policy
        has shaped UK farming policies for decades since the 1970s.</p>
    <p>This project aims to explore Brexit's wide-ranging effects on agricultral using interactive spatial data analysis technologies to sense trends,
        analyze the dynamic changes in social media topics and sentiments, understanding public opinion trends.</p>


    <h3 class="h3-style">2000-2022 UK Gross domestic product at 2024 dollar prices<sup><a href="#note1">1</a></sup> and the percentages of 2012-2022 agriculture’s contribution to the UK economy (Gross Value Added at basic prices)<sup><a href="#note2">2</a></sup></h3>
    <div id="container3" class="zero-style">{% include '0_agri_gdp.html' %}</div>
    <p>The chart reveals that the percentages of UK's agricultural contribution to the total GDP fluctuates between 0.55% and 0.8%, with the highest value 0.76% in 2022
        and the next highest in 2014 0.75%. Between 2014 and 2018, despite minor fluctuations, the overall trend was a decline, followed by a rebound and continuous
        growth from 2018 to 2022. This seems to suggest that Brexit had a minimal or even positive impact on the development of UK agriculture, despite 2020 witnessing
        the lowest total GDP in recent years.
    </p>

    <h3 class="h3-style">Total income from farming in the United Kingdom (UK) from 2000 to 2022 in million GBP at 2022 prices<sup><a href="#note3">3</a></sup>, adjusted for inflation</h3>
    <div id="container4" class="one-style">{% include '1_2000_2020TIFF.html' %}</div>

    <p>Focused on adjusted data, income generally rose between 2000 and 2022 despite some data oscillating. In 2022, income peaked at 7.94 billion British pounds.
        After experiencing declines in the previous two years, 2016's TIFF surged with a significant growth rate of 55.11% and in next 3 years, TIFF generally decreased, though there was a minor increase in 2019.
        Comparatively, the decrease in 2020, Brexit year, was 5.19% from 2019, followed by continuous growth in the subsequent two years, with increase rate 29.13% and 11.03% respectively.

    <p>For UK agriculture, 2020 was marked not only by Brexit but also by Covid-19 pandemic.
        In the following years, the UK also experienced significant global events and
        extreme weather(heatwave/storms/......) conditions<sup><a href="#note4">4</a></sup></a>.
    </p>
    <div id="event" class="two-style">{% include '2_events.html' %}</div>
    <p>Although Scotland, Wales, Northern Ireland are important contributors to Uk agricultural output in monetary terms,
        their datasets are not as comprehensive or updated as English datasets. So we'll focus on 2017-2022 England. </p>
    <p>Other constituent countries' datasets can be found by below links</p>
    <h5 class="h5-style"><a href="https://www.gov.scot/collections/total-income-from-farming/">Collection of total income from farming (TIFF) estimates for Scotland publications</a></h5>
    <h5 class="h5-style"><a href="https://www.gov.wales/farm-incomes">Farm incomes in wales including forecasts</a></h5>
    <h5 class="h5-style"><a href="https://www.daera-ni.gov.uk/articles/ni-agricultural-incomes">TIFF in Northern Ireland</a></h5>

    <p></p>
    <h3 class="h3-style">2017-2022 English TIFF separated by regions in millions GBP at 2022 prices<sup><a href="#note5">5</a></sup></h3>
    <div id="container0_modified" class="three-style">{% include '3_regions2017_2022.html'%}</div>

    <h3 class="h3-style">English Map(cannot successfully render now/create a new page for it)</h3>
    <div id="container2" class="four-style">{% include '4_map.html'%}</div>

    <p></p>
    <p>Since the UK left the EU, the arrangements for how the UK trades with the EU have changed.
        The following section will apply data to display the impact of Brexit on UK's overseas trade in agricultural stuff, excluding other goods like material manufactures or fuels.</p>
    <p>Moreover, it will pay more attention to annual changes rather than quarterly's, as the seasonal fluctuations in UK agricultural are significant. For example, during the summer months,
        the UK can grow plenty of its own produce like lettuces and soft berries such as raspberries and strawberries, but when the weather turns colder Britain is forced to rely much more on imports from the EU.</p>
    <h3 class="h3-style">United Kingdom's value of trade in food, feed and drink in million GDP at 2022 prices<sup><a href="#note6">6</a></sup></h3>
    <p>Prices adjusted by ONS(Office for National Statistics) implied deflators for trade MRET(UK trade time series: Monthly value of UK exports and imports of goods and services by current price, chained volume measures and implied deflators)
        <br />To better compare each year's values, it is necessary to adjust for the effects of economic inflation.
    </p>
    <div id="dashboard_div" class="five-style">{% include '5_imexport.html' %}</div>
    <p>Since the year 2000, there has been a generally consistent upward trend in imports, exports and trade balance.
        It can be witnessed from the chart that the trade deficit in 2020 was the largest in the past 23 years and over the longer term it has widened by 45.93% from £20.01 billion (in 2000) to £33.20 billion (in 2022) in real terms.
    </p>
    <p> Focused on 2019-2021,there was a decline observed in both imports and exports. Nevertheless, by the year 2022, both of them rebounded to the levels seen in 2019(pre-pandemic and pre-Brexit).
        The real terms value of exports was 13% higher(around £2.8 billion) in 2022 than 2021 but remains 3.1%(around £0.8 billion) below 2019. Meanwhile, the real terms value of imports was £3.0 billion or 5.3% higher in 2022 than 2021 but £0.4 billion or 0.7% lower than 2019.
    </p>
    <h3 class="h3-style">United Kingdom's value of trade in food, feed and drink with EU/Non-EU countries in millions GDP at 2022 prices<sup><a href="#note7">7</a></sup></h3>
     <div id="eutrade" class="six-style">{% include '6_eutrade.html' %}</div>
    <hr/>
    <p><strong>Data from:</strong></p>
    <p id="note1"><sup>1</sup> https://www.imf.org/external/datamapper/NGDPD@WEO/GBR?year=2024
    <p id="note2"><sup>2</sup> worldbank.org
    <p id="note3"><sup>3</sup> Defra; GOV.UK
    <p id="note4"><sup>4</sup> https://www.metoffice.gov.uk/weather/learn-about/past-uk-weather-events </p>
    <p id="note5"><sup>5</sup> https://www.gov.uk/government/statistics/agricultural-facts-england-regional-profiles
    <br /> The data of London is included in the South East region
    </p>
    <p id="note6"><sup>6</sup> HMRC</p>
    <p id="note7"><sup>7</sup> HMRC</p>
</body>

</html>
