p {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 5px;
  margin: 20px auto;
}

.h3-style {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 1px;
  margin: 20px auto;
}

hr {
    display: block;
    width: 75%;
    margin: auto;
    height: 1px;
    border: 0;
    border-top: 2px solid darkseagreen;

    padding: 0;
}

h5 {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 1px;
  margin: 20px auto;
}

.englishregions-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:480px;
  width:1000px;
}

.event-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:160px;
  width:1000px;
}


.parallel {
  display: flex;
  justify-content: space-between;
}


.style-2022 {
  flex: 1; /* This makes both divs take up equal width */
  display: inline-block;
  align-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #bddabd;
  height:480px;
  width: 480px;
}

.analyze {
  flex: 1; /* This makes both divs take up equal width */
  padding: 20px;
  display: inline-block;
  text-align: center;
  height:480px;
  width: 480px;
}

.im-export-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:640px;
  width:640px;
}

.race-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:640px;
  width:640px;
}