
a:link {
  color: darkgreen;
}

a:visited {
  color: darkcyan;
}

a:hover {
  color: forestgreen;
}


p {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 5px;
  margin: 20px auto;
}
.h1-style {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  font-family:monospace;
  font-size: 1.2rem;
  padding: 1px;
  margin: 10px auto;
}
.h2-style {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  font-family:monospace;
  font-size: 1.2rem;
  padding: 1px;
  margin: 10px auto;
}
.h3-style {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 1px;
  margin: 20px auto;
}
.h5-style {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 1px;
  margin: 20px auto;
}
hr {
    display: block;
    width: 75%;
    margin: auto;
    height: 1px;
    border: 0;
    border-top: 2px solid darkseagreen;

    padding: 0;
}

h5 {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 1px;
  margin: 20px auto;
}

.englishregions-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:480px;
  width:1000px;
}

.event-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:160px;
  width:1000px;
}



.im-export-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:480px;
  width:720px;
}

.style-2022{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:640px;
  width:640px;
}
.parallel0 {
  display: flex;
  justify-content: space-between;
}

.race-exports-style, .race-imports-style {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  background-color: #bddabd;
  height: 480px;
  max-width: calc(50% - 20px);
}

.race-imports-style {
  margin-left: 20px;
  margin-right: 20px;
}

.race-exports-style {
  margin-left: 20px;
  margin-right: 20px;
}



.line-exports-style, .line-imports-style {

  padding: 20px;
  border-radius: 5px;

  height: 360px;

}

.line-imports-style {
  margin-left: 240px;
  margin-right: 240px;
}

.line-exports-style {
  margin-left: 240px;
  margin-right: 240px;
}

.eu-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  height:240px;
  width:720px;
}

th {
  text-align: left;
}
tr:hover {background-color: #c1eabc;}
.annual-rate {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}