p {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 5px;
  margin: 20px auto;
}
.underline {
  text-decoration: #7dde7d underline;
  font-style: italic;
}


hr {
    display: block;
    width: 75%;
    margin: auto;
    height: 1px;
    border: 0;
    border-top: 2px solid darkseagreen;

    padding: 0;
}


h3 {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 1px;
  margin: 20px auto;
}

h2 {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  font-family:monospace;
  font-size: 1.2rem;
  padding: 1px;
  margin: 10px auto;
}



a:link {
  color: #87e187;
}
a:visited {
  color: darkgreen;
}


a:hover {
  color: forestgreen;
}

.parallel1 {
  display: flex;
  justify-content: space-between;
}

.ukcap-style {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  background-color: #bddabd;
  height: 360px;
  max-width: calc(50% - 30px);
    margin: 30px;
    width: 480px;
}

.text-style {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  background-color: #bddabd;
  height: 360px;
  max-width: calc(50% - 30px);
     margin: 30px;
    word-wrap: break-word;
  font-family: Arial, sans-serif;
}

.pros-cons-style {
    width: 60%;
  margin: 0 auto;
}

