p {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 5px;
  margin: 20px auto;
}
.underline {
  text-decoration: #7dde7d underline;
  font-style: italic;
}


hr {
    display: block;
    width: 75%;
  margin: 20px auto;
    height: 1px;
    border: 0;
    border-top: 2px solid darkseagreen;

    padding: 0;
}


h3 {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 1px;
  margin: 20px auto;
}

h2 {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  font-family:monospace;
  font-size: 1.2rem;
  padding: 1px;
  margin: 10px auto;
}



a:link {
  color: #87e187;
}
a:visited {
  color: darkgreen;
}


a:hover {
  color: forestgreen;
}

.parallel1 {
  display: flex;
  justify-content: space-between;
}

.ukcap-style {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  background-color: #bddabd;
  height: 360px;
  max-width: calc(50% - 30px);
    margin: 30px;
    width: 480px;
}

.text-style {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  background-color: #bddabd;
  height: 360px;
  max-width: calc(50% - 30px);
     margin: 30px;
    word-wrap: break-word;
  font-family: Arial, sans-serif;
}

.pros-cons-style {
    width: 60%;
  margin: 0 auto;
}


.wales-style {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wales-style h2 {
  text-align: center;
}

.wales-style #data-table {
  border-collapse: collapse;
  width: 75%;
  margin: 0 auto;
}

/* Add the chart container styles here */
.wales-style .chart-container {
  max-width: 800px;
  margin: 20px auto;
}

/* Add the chart canvas styles here */
.wales-style canvas {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 400px;
}

.wales-style #data-table th,
.wales-style #data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.wales-style #data-table th {
  background-color: #f2f2f2;
}

.wales-style tr:hover td:nth-child(5) {
  background-color: #c7f1c2;
}


.wales-style button {
  width: 25%;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color:  #036026;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.wales-style button:hover {
  background-color: #036026;
}

.wales-style .reload-btn {
  width: 25%;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  cursor: pointer;
  background-color:  #036026;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.wales-style .reload-btn:hover {
  background-color: #036026;
}
.wales-style .button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wales-style .button-container button {
  flex: 1;
  max-width: calc(33.33% - 10px); /* 10px for margin-right */
}

.flag-container {
  display: flex;
}

.flag-container .h2 {
  margin: 0; /* Remove default margin */
  flex: 1; /* Distribute available space equally among the images */
  text-align: center; /* Center the image */
}

.flag-container img {
  max-width: 100px; /* Adjust the maximum width of the images */
  height: auto; /* Maintain aspect ratio */
}

