<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="radar" style="height: 100%"></div>

  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
  <script type="text/javascript">
    var dom19 = document.getElementById('radar');
    var myChart19 = echarts.init(dom19, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });

    var option19 = {
      backgroundColor: '#161627',

      legend: {
        data: ['UK', 'EU', 'Non-EU'],
        bottom: 5,
        textStyle: {
          color: '#fff',
          fontSize: 14
        },

        selectedMode: 'multiple'
      },
      radar: {
        indicator: [
          { name: 'Sales', max: 6500 },
          { name: 'Administration', max: 16000 },
          { name: 'Information Technology', max: 30000 },
          { name: 'Customer Support', max: 38000 },
          { name: 'Development', max: 52000 },
          { name: 'Marketing', max: 25000 }
        ],
        shape: 'circle',
        splitNumber: 5,
        axisName: {
          color: 'rgb(238, 197, 102)'
        },
        splitLine: {
          lineStyle: {
            color: [
              'rgba(238, 197, 102, 0.1)',
              'rgba(238, 197, 102, 1)'
            ].reverse()
          }
        },
        splitArea: {
          show: false
        },
        axisLine: {
          lineStyle: {
            color: 'rgba(238, 197, 102, 0.5)'
          }
        }
      },
      series: [
        {
          name: 'UK Total',
          type: 'radar',
          data: [
            {
              value: [4200, 3000, 20000, 35000, 50000, 18000],
              name: 'UK Total'
            }
          ],
          symbol: 'none',
          itemStyle: {
            color: '#F9713C'
          },
          areaStyle: {
            opacity: 0.1
          }
        },
        {
          name: 'UK Agricultural',
          type: 'radar',
          data: [
            {
              value: [2100, 1500, 10000, 17500, 25000, 9000],
              name: 'UK Agricultural'
            }
          ],
          symbol: 'none',
          itemStyle: {
            color: '#FF6347'
          },
          areaStyle: {
            opacity: 0.1
          }
        },
        {
          name: 'EU Total',
          type: 'radar',
          data: [
            {
              value: [5000, 14000, 28000, 26000, 42000, 21000],
              name: 'EU Total'
            }
          ],
          symbol: 'none',
          itemStyle: {
            color: '#B3E4A1'
          },
          areaStyle: {
            opacity: 0.05
          }
        },
        {
          name: 'EU Agricultural',
          type: 'radar',
          data: [
            {
              value: [2500, 7000, 14000, 13000, 21000, 10500],
              name: 'EU Agricultural'
            }
          ],
          symbol: 'none',
          itemStyle: {
            color: '#9ACD32'
          },
          areaStyle: {
            opacity: 0.05
          }
        }
      ]
    };

    if (option19 && typeof option19 === 'object') {
      myChart19.setOption(option19);
    }

    window.addEventListener('resize', myChart19.resize);
  </script>
</body>
</html>
