<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Highcharts Charts</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<style>
    .test-style {
        min-width: 310px;
        height: 400px;
        margin: 0 auto;
    }
</style>
</head>
<body>
<div id="test-container">
    <div id="test" class="test-style"></div>

    <select class="region">
        <option value="EU">EU</option>
        <option value="UK">UK</option>
        <option value="Non-EU">Non-EU</option>
    </select>

    <select class="category">
        <option value="Total">Total</option>
        <option value="Agricultural">Agriculture, Forestry and Fishing</option>
    </select>
</div>

<script>
$(function() {
    var mod, bodyP;
    var chart = Highcharts.chart('test', {
        plotOptions: {
            series: {
                showInLegend: false
            }
        },
        xAxis: {
            categories: ['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
        },
        series: [{
            name: 'UK Total',
            mod: 'UK',
            data: [25217400, 25386500, 25629300, 25798400, 25895000, 25039100, 26078700, 26356000],
            bodyPart: 'total'
        }, {
            name: 'UK Agricultural',
            mod: 'UK',
            data: [151400, 151400, 152700, 154000, 156600, 153900, 161400, 159800],
            bodyPart: 'agricultural'
        }, {
            name: 'EU Total',
            mod: 'EU',
            data: [2212900, 2406100, 2520900, 2590800, 2637700, 2449900, 2477000, 2472100],
            bodyPart: 'total'
        }, {
            name: 'EU Agricultural',
            mod: 'EU',
            data: [26800, 26800, 27800, 27200, 26900, 24200, 22400, 21300],
            bodyPart: 'agricultural'
        }, {
            name: 'Non-EU Total',
            mod: 'Non-EU',
            data: [1760200, 1813800, 1886900, 1974400, 2110600, 2122600, 2426800, 2969200],
            bodyPart: 'total'
        }, {
            name: 'Non-EU Agricultural',
            mod: 'Non-EU',
            data: [2300, 2200, 2200, 2200, 2700, 3300, 5300, 7400],
            bodyPart: 'agricultural'
        }]
    }, function(chart) {
        $('.region').change(function() {
            mod = this.value;
            if (mod) {
                Highcharts.each(chart.series, function(ob, j) {
                    if (ob.userOptions.mod == mod && (bodyP ? ob.userOptions.bodyPart == bodyP : true)) {
                        ob.show()
                    } else {
                        ob.hide()
                    }
                });
            }
        });

        $('.category').change(function() {
            bodyP = this.value;
            if (bodyP) {
                Highcharts.each(chart.series, function(ob, j) {
                    if (ob.userOptions.bodyPart == bodyP && (mod ? ob.userOptions.mod == mod : true)) {
                        ob.show()
                    } else {
                        ob.hide()
                    }
                });
            }
        })
        $('.region, .category').change(function() {
            chart.redraw();
        });
    });
});

</script>
</body>
</html>
