<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='2010_2022cap.css') }}">
  <title>Charts</title>
  <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
  <script src="https://cdn.flexmonster.com/lib/flexmonster.highcharts.js"></script>
  <script src="https://code.highcharts.com/4.2.2/highcharts.js"></script>
</head>
<body>

<div>
  <div id="pivot-container"></div>

</div>

<script>
  var pivot = new Flexmonster({
    container: "#pivot-container",
    componentFolder: "https://cdn.flexmonster.com/",
    licenseFilePath: "https://cdn.flexmonster.com/jsfiddle.charts.key",
    height: 640,
    toolbar: true,
    report: {
      dataSource: {
        data: getData()
      },
      slice: {
        "rows": [{
          "uniqueName": "Year.Regions"
        }],
        "columns": [{
          "uniqueName": "[Measures]"
        }],
        "reportFilters": [{
          "uniqueName": "Regions",
          "filter": {
            "members": ["Regions"]
          }
        }],
        "measures": [{
          "uniqueName": "Total CAP payments",
         // "aggregation": "sum"
        },
        {
          "uniqueName": "Total Pillar 1",
          //"aggregation": "sum"
        },
        {
          "uniqueName": "Total Pillar 2",
          //"aggregation": "sum"
        }
        ],
        "sorting": {
          "column": {
            "type": "desc",
            "tuple": [],
            "measure": {
              "uniqueName": "Total CAP payments",
             // "aggregation": "sum"
            }
          }
        }
      },
      "options": {
        "showHeaders": false
      }
    },
reportcomplete: function() {
  pivot.off("reportcomplete");
}


  });



  function getData() {
    return [
//England
      {
        "Regions": "England",
        "Total CAP payments": 2761,
        "Total Pillar 1": 2199,
        "Total Pillar 2": 562,
        "Year.Regions": "2010.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 2696,
        "Total Pillar 1": 2099,
        "Total Pillar 2": 597,
        "Year.Regions": "2011.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 2777,
        "Total Pillar 1": 2146,
        "Total Pillar 2": 631,
        "Year.Regions": "2012.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 2792,
        "Total Pillar 1": 2126,
        "Total Pillar 2": 666,
        "Year.Regions": "2013.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 2714,
        "Total Pillar 1": 2048,
        "Total Pillar 2": 666,
        "Year.Regions": "2014.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 2533,
        "Total Pillar 1": 2026,
        "Total Pillar 2": 507,
       "Year.Regions": "2015.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 2626,
        "Total Pillar 1": 2018,
        "Total Pillar 2": 608,
        "Year.Regions": "2016.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 2525,
        "Total Pillar 1": 2069,
        "Total Pillar 2": 456,
        "Year.Regions": "2017.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 2474,
        "Total Pillar 1": 2084,
        "Total Pillar 2": 390,
        "Year.Regions": "2018.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 2672,
        "Total Pillar 1": 2100,
        "Total Pillar 2": 572,
        "Year.Regions": "2019.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 2720,
        "Total Pillar 1": 2096,
        "Total Pillar 2": 624,
        "Year.Regions": "2020.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 502,
        "Total Pillar 1": 0,
        "Total Pillar 2": 502,
        "Year.Regions": "2021.England",
      },
      {
        "Regions": "England",
        "Total CAP payments": 394,
        "Total Pillar 1": 0,
        "Total Pillar 2": 394,
       "Year.Regions": "2022.England",
      },
//Wales
      {
       "Regions": "Wales",
        "Total CAP payments": 413,
        "Total Pillar 1": 316,
        "Total Pillar 2": 97,
        "Year.Regions": "2010.Wales",
      },
      {
       "Regions": "Wales",
        "Total CAP payments": 417,
        "Total Pillar 1": 312,
        "Total Pillar 2": 105,
        "Year.Regions": "2011.Wales",
      },
      {
         "Regions": "Wales",
        "Total CAP payments":426 ,
        "Total Pillar 1":309,
        "Total Pillar 2": 117,
        "Year.Regions": "2012.Wales",
      },
      {
        "Regions": "Wales",
        "Total CAP payments":406 ,
        "Total Pillar 1": 309,
        "Total Pillar 2": 97,
        "Year.Regions": "2013.Wales",
      },
      {
        "Regions": "Wales",
        "Total CAP payments": 413,
        "Total Pillar 1": 301,
        "Total Pillar 2": 112,
        "Year.Regions": "2014.Wales",
      },
      {
        "Regions": "Wales",
        "Total CAP payments":367 ,
        "Total Pillar 1": 269,
        "Total Pillar 2": 98,
        "Year.Regions": "2015.Wales",
      },
      {
       "Regions": "Wales",
        "Total CAP payments":338 ,
        "Total Pillar 1": 260,
        "Total Pillar 2": 78,
        "Year.Regions": "2016.Wales",
      },
      {
        "Regions": "Wales",
        "Total CAP payments": 356,
        "Total Pillar 1": 268,
        "Total Pillar 2": 88,
        "Year.Regions": "2017.Wales",
      },
      {
        "Regions": "Wales",
        "Total CAP payments": 397,
        "Total Pillar 1": 263,
        "Total Pillar 2": 134,
        "Year.Regions": "2018.Wales",
      },
      {
      "Regions": "Wales",
        "Total CAP payments":397 ,
        "Total Pillar 1": 265,
        "Total Pillar 2": 131,
        "Year.Regions": "2019.Wales",
      },
      {
         "Regions": "Wales",
        "Total CAP payments":282 ,
        "Total Pillar 1": 263,
        "Total Pillar 2": 120,
        "Year.Regions": "2020.Wales",
      },
      {
        "Regions": "Wales",
        "Total CAP payments":114 ,
        "Total Pillar 1": 0,
        "Total Pillar 2": 114,
       "Year.Regions": "2021.Wales",
      },
      {
        "Regions": "Wales",
        "Total CAP payments":126 ,
        "Total Pillar 1": 0,
        "Total Pillar 2":126 ,
        "Year.Regions": "2022.Wales",
      },
//Scotland
          {
        "Regions": "Scotland",
        "Total CAP payments": 779,
        "Total Pillar 1": 589,
        "Total Pillar 2":190,
        "Year.Regions": "2010.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments": 826,
        "Total Pillar 1": 583,
        "Total Pillar 2":243,
        "Year.Regions": "2011.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments": 840,
        "Total Pillar 1": 584,
        "Total Pillar 2":256,
        "Year.Regions": "2012.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments":819,
        "Total Pillar 1": 583,
        "Total Pillar 2":236,
        "Year.Regions": "2013.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments": 757,
        "Total Pillar 1": 566,
        "Total Pillar 2":191,
        "Year.Regions": "2014.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments": 799,
        "Total Pillar 1": 534,
        "Total Pillar 2":265,
        "Year.Regions": "2015.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments": 584,
        "Total Pillar 1": 522,
        "Total Pillar 2":62,
        "Year.Regions": "2016.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments": 732,
        "Total Pillar 1": 507,
        "Total Pillar 2":225,
        "Year.Regions": "2017.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments": 698,
        "Total Pillar 1": 503,
        "Total Pillar 2":195,
        "Year.Regions": "2018.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments": 784,
        "Total Pillar 1": 539,
        "Total Pillar 2":245,
        "Year.Regions": "2019.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments": 712,
        "Total Pillar 1": 519,
        "Total Pillar 2":193,
        "Year.Regions": "2020.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments": 151,
        "Total Pillar 1": 0,
        "Total Pillar 2":151,
        "Year.Regions": "2021.Scotland",
      },
      {
        "Regions": "Scotland",
        "Total CAP payments": 84,
        "Total Pillar 1": 0,
        "Total Pillar 2":84,
        "Year.Regions": "2022.Scotland",
      },
//Northern Ireland
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 384,
        "Total Pillar 1": 320,
        "Total Pillar 2":64,
        "Year.Regions": "2010.Northern Ireland",
      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 388,
        "Total Pillar 1": 315,
        "Total Pillar 2":73,
       "Year.Regions": "2011.Northern Ireland",

      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 390,
        "Total Pillar 1": 309,
        "Total Pillar 2":81,
                "Year.Regions": "2012.Northern Ireland",

      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 400,
        "Total Pillar 1": 308,
        "Total Pillar 2":92,
                "Year.Regions": "2013.Northern Ireland",

      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 415,
        "Total Pillar 1": 319,
        "Total Pillar 2":96,
                "Year.Regions": "2014.Northern Ireland",

      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 410,
        "Total Pillar 1": 321,
        "Total Pillar 2":89,
                "Year.Regions": "2015.Northern Ireland",

      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 379,
        "Total Pillar 1": 321,
        "Total Pillar 2":58,
               "Year.Regions": "2016.Northern Ireland",

      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 361,
        "Total Pillar 1": 327,
        "Total Pillar 2":34,
               "Year.Regions": "2017.Northern Ireland",

      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 365,
        "Total Pillar 1": 324,
        "Total Pillar 2":41,
                "Year.Regions": "2018.Northern Ireland",

      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 376,
        "Total Pillar 1": 324,
        "Total Pillar 2":52,
               "Year.Regions": "2019.Northern Ireland",

      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 378,
        "Total Pillar 1": 323,
        "Total Pillar 2":55,
               "Year.Regions": "2020.Northern Ireland",

      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 60,
        "Total Pillar 1": 0,
        "Total Pillar 2":60,
               "Year.Regions": "2021.Northern Ireland",

      },
      {
        "Regions": "Northern Ireland",
        "Total CAP payments": 42,
        "Total Pillar 1": 0,
        "Total Pillar 2":42,
                "Year.Regions": "2022.Northern Ireland",

      },


    ];
  }
</script>

</body>
</html>
