<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="main" style="height: 100%"></div>

  <script src="https://unpkg.com/topojson@3"></script>
  <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://registry.npmmirror.com/echarts/5.4.3/files/dist/echarts.min.js"></script>

  <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'), null, {
      renderer: 'canvas',
      useDirtyRect: false
    });

    myChart.showLoading();
    $.get('https://martinjc.github.io/UK-GeoJSON/json/eng/topo_eer.json', function (ukJson) {
      myChart.hideLoading();
      var geoJson = topojson.feature(ukJson, ukJson.objects.eer);
      echarts.registerMap('UK', geoJson);

      option = {
        title: {
          text: '2022 English farm statistics: Total Income from Farming (TIFF)',
          subtext: 'Data from www.gov.uk/government/statistics',
          sublink: 'https://www.gov.uk/government/statistics/agricultural-facts-england-regional-profiles',
          left: 'right'
        },
        tooltip: {
          trigger: 'item',
          showDelay: 0,
          transitionDuration: 0.2
        },
        visualMap: {
          left: 'right',
          min: 0, // Adjusted to match data range
          max: 1000, // Adjusted to match data range
          inRange: {
            color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61']
          },
          text: ['High', 'Low'],
          calculable: true
        },
        toolbox: {
          show: true,
          left: 'left',
          top: 'top',
          feature: {
            dataView: { readOnly: false },
            restore: {},
            saveAsImage: {}
          }
        },
        series: [
          {
            name: 'Total Income from Farming (TIFF)',
            type: 'map',
            roam: true,
            map: 'UK',
            emphasis: {
              label: {
                show: true
              }
            },
            data: [
              { name: 'East Midlands', value: 758 },
              { name: 'Eastern', value: 865 },
              { name: 'North East', value: 190 },
              { name: 'North West', value: 237 },
              { name: 'South East', value: 592 },
              { name: 'South West', value: 660 },
              { name: 'West Midlands', value: 551 },
              { name: 'Yorkshire and The Humber', value: 461 },
            ]
          }
        ]
      };

      myChart.setOption(option);
    });

    window.addEventListener('resize', myChart.resize);
  </script>
</body>
</html>