<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabs Example</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tab.css') }}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        /* CSS code for styling the image */
        img {
            max-width: 90%;
            max-height: 90%;
            display: block;
            margin: 0 auto; /* Centers the image horizontally */
            border: 2px solid #ccc; /* Adds a border around the image */
            border-radius: 10px; /* Adds rounded corners to the border */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow effect */
        }
    </style>
</head>
<body>

<div id="tabs25">
  <ul>
    <li><a href="#tabs-100"> General</a></li>
    <li><a href="#tabs-200"> Leave voters</a></li>
    <li><a href="#tabs-300"> Remain voters</a></li>
  </ul>
  <div id="tabs-100">
    <img src="static/image/general.png" alt="general">
  </div>
  <div id="tabs-200">
    <img src="static/image/leave.png" alt="leave">
  </div>
  <div id="tabs-300">
    <img src="static/image/remain.png" alt="remain">
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#tabs25" ).tabs();
  });
</script>

</body>
</html>
