<!DOCTYPE html>
<html>
  <head>
    <!--Load the AJAX API-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'controls']});
      google.charts.setOnLoadCallback(drawDashboard);

      function drawDashboard() {
        // Create our data table.
var years = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018','2019', '2020', '2021', '2022'];

var exportsData = [-14139, -13226, -13938, -14894, -14828, -15137, -15584, -16664, -17208, -17518, -19198, -20442, -20513, -20374, -21725, -22863, -23468, -23641, -24399, -25721, -23474, -22116, -24935];

var tradeBalanceData = [19908, 24156, 24945, 26209, 28311, 29968, 31619, 31983, 32196, 30530, 29412, 29330, 29641, 31511, 31302, 32207, 33025, 33619, 34094, 32807, 34761, 33069, 33201];

var importsData = [34047, 37382, 38883, 41103, 43140, 45105, 47203, 48647, 49404, 48048, 48610, 49771, 50154, 51885, 53027, 55070, 56493, 57260, 58492, 58527, 58234, 55184, 58136];

// Construct the Google Charts data table.
var dataTable = [['Year', 'Trade', 'Total Value']];
years.forEach(function(year, index) {
  dataTable.push([year, 'Exports', exportsData[index]]);
  dataTable.push([year, 'Imports', importsData[index]]);
  dataTable.push([year, 'Trade Balance', tradeBalanceData[index]]);
});

// The Google Visualization data table is now ready for use.
var data = google.visualization.arrayToDataTable(dataTable);


        // Create a dashboard.
        var dashboard = new google.visualization.Dashboard(
          document.getElementById('dashboard_div'));
        var table = new google.visualization.ChartWrapper({
          'chartType': 'Table',
          'containerId': 'table_div',
          'options': {
            'width': '100%',
            'height': 'auto'
          }
        });
        // Create a category picker for the Gender column
        var tradePicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'trade_div',
          'options': {
            'filterColumnLabel': 'Trade',
            'ui': {
              'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': false
            }
          }
        });

        // Create a range slider for the Donuts eaten column
        var donutRangeSlider = new google.visualization.ControlWrapper({
          'controlType': 'NumberRangeFilter',
          'containerId': 'filter_div',
          'options': {
            'filterColumnLabel': 'Total Value',
            'ui': {'labelStacking': 'vertical'}
          }
        });

        // Create a pie chart for the data
var barChart = new google.visualization.ChartWrapper({
  'chartType': 'BarChart',
  'containerId': 'chart_div',
  'options': {
    'width': 300,
    'height': 300,
    'legend': { position: 'bottom', alignment: 'center' },
    'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 40},
    'vAxis': {
      'title': 'Total Value'
    },
    'hAxis': {
      'title': 'Year',
      'textStyle': { fontSize: 10 } // Optional: Reduce font size for clarity if many years
    },
    // Specify a color for each series explicitly
    'colors': ['#e2431e', '#f1ca3a', '#6f9654', '#1c91c0', '#43459d', '#5c3292', '#572a1a', '#999999', '#b9b9b9', '#e98125', '#1e7145'],
  },
  // Adjust the view columns to show all data
  'view': {'columns': [0, 2]}
});



        // Bind the controls to the chart
                  dashboard.bind([tradePicker, donutRangeSlider], [barChart, table]);
        //dashboard.bind(genderPicker, donutRangeSlider);
        //dashboard.bind(donutRangeSlider, pieChart);

        // Draw the dashboard
        dashboard.draw(data);
      }
    </script>
  </head>
  <body>
    <!--Div that will hold the dashboard-->

  <div id="dashboard_div" class="clearfix">
    <div class="control-container">
      <div id="trade_div"></div>
      <div id="filter_div"></div>
      <!-- Add buttons and other controls here if needed -->
    </div>
    <div class="chart-container">
      <div id="chart_div"></div>
    </div>
    <div class="table-container">
      <div id="table_div"></div>
    </div>
  </div>
</body>
</html>

