<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="utf-8">
  <script src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
</head>
<body style="height: 100%; margin: 0">
  <div id="container8" style="height: 50%"></div>

  <script type="text/javascript">
    var dom8 = document.getElementById('container8');
    var myChart8 = echarts.init(dom8, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};

    var option8 = {
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'cross'
        }
      },
      legend: {
        data: ['World', 'Europe', 'Central Asia', 'East Asia&Pacific', 'North America', 'Middle East&North Africa', 'Latin America&Caribbean', 'Sub-Saharan Africa', 'South Asia']
      },
  toolbox: {
    show: true,
    feature: {
      dataView: { show: true, readOnly: false },
      magicType: { show: true, type: ['line', 'bar'] },
      restore: { show: true },
      saveAsImage: { show: true }
    }
  },        dataZoom: [{type: 'slider', start: 0, end: 100, bottom: 10}],
  calculable: true,
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['2015', '2016', '2017', '2018', '2019', '2020', '2021']
      },
      yAxis: {
        type: 'value'
      },
series: [
    {
      name: 'World',

      type: 'line',

      data: [19154299.02, 18461495.71, 19397997.73,20748630.15, 20025798.74, 18155102.20, 18975654.87]
    },
    {
      name: 'Europe',

      type: 'line',

      data: [10959832.72, 10458663.35,  11051818.43, 11900829.39, 11238186.94,  10759831.35, 10187233.96]
    },
    {
      name: 'Central Asia',

      type: 'line',

      data: [80545.06, 106355.04,  118618.77, 132681.92 ,130925.57 ,143436.22  , 161953.98]
    },
    {
      name: 'North America',

      type: 'line',

      data: [2786896.09, 2784434.86, 2722837.45, 2857796.22, 2775439.94, 2364498.10, 2588426.46]
    },
    {
      name: 'Middle East&North Africa',

      type: 'line',

      data: [1040327.00, 983708.39, 1032375.10, 1127757.68, 1107989.34, 918773.25, 1088640.78]
    },
    {
      name: 'Latin America&Caribbean',

      type: 'line',

      data: [860587.25, 831236.65, 844890.77, 862643.19, 840921.72, 600982.35, 999653.99]
    },
    {
      name: 'Sub-Saharan Africa',

      type: 'line',

      data: [554000.03, 448301.91, 492351.85, 517463.61, 517454.21, 430842.95, 500087.70]
    },
    {
      name: 'South Asia',

      type: 'line',

      data: [195073.19, 200004.48, 230292.23, 271291.83, 306787.27, 195835.50, 269041.40]
    },
    {
      name: 'East Asia&Pacific',

      type: 'line',

      data: [2255887.72, 2308122.83, 2594360.92, 2750547.71, 2738551.11, 2402446.83, 2762074.02]
    },

  ]
    };



    if (option8 && typeof option8 === 'object') {
      myChart8.setOption(option8);
    }

    window.addEventListener('resize', myChart8.resize);
  </script>
</body>
</html>
