<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    <div>{% include 'header.html' %}</div>
    <h1>Contact me</h1>
    <p>Why I create this website?</p>
    <p>About 30% of all the food we eat in the UK comes from the European Union,
        according to the British Retail Consortium (BRC) industry group.</p>
</body>
</html>
