<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data_visualization.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data_visualization</title>
</head>
<body>
    <div>{% include 'header.html' %}</div>
    <p>For UK agriculture, 2020 was marked not only by Brexit but also by Covid-19 pandemic.
        In the following years, the UK also experienced significant global events and
        <a href="https://www.metoffice.gov.uk/weather/learn-about/past-uk-weather-events">extreme weather(heatwave/storms/......) conditions</a>.
    </p>
    <div id="container1" class="event-style">{% include 'event.html' %}</div>
    <p>Although Scotland, Wales, Northern Ireland are important contributors to Uk agricultural output in monetary terms,
        their datasets are not as comprehensive as English datasets. So we'll focus on 2017-2022 England and separate it by regions<sup><a href="#note1">1</a></sup> </p>
    <p>Other constituent countries' datasets can be found by below links</p>
    <h5><a href="https://www.gov.scot/collections/total-income-from-farming/">Collection of total income from farming (TIFF) estimates for Scotland publications</a></h5>
    <h5><a href="https://www.gov.wales/farm-incomes">Farm incomes in wales including forecasts</a></h5>
    <h5><a href="https://www.daera-ni.gov.uk/articles/ni-agricultural-incomes">TIFF in Northern Ireland</a></h5>

    <hr>
    <div id="container0" class="englishregions-style">{% include 'englishregions2017_2022.html' %}</div>
    <p>...</p>
    <div class="parallel">
        <div id="container2" class="style-2022">{% include '2017_2022TIFF.html' %}</div>
        <div class="analyze">

            <p>...</p>
        </div>
    </div>

    <h1 class="h1-style">UK imports and exports to the EU/world</h1>
    <hr>
    <h1 class="h1-style">Pre-Brexit forecasts and post-Brexit data revisions</h1>
    <hr>
    <h1 class="h1-style">Distribution of farming types in the UK (environment......)</h1>

    <hr></hr>
    <p><strong>Data from:</strong></p>
    <br id="note1"><sup>1</sup><p>https://www.gov.uk/government/statistics/agricultural-facts-england-regional-profiles
    The data of London is included in the South East region</p>
</body>
</html>