<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data_visualization.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data_visualization</title>
</head>
<body>
    <div>{% include 'header.html' %}</div>
    <p>For UK agriculture, 2020 was marked not only by Brexit but also by Covid-19 pandemic.
        In the following years, the UK also experienced significant global events and
        extreme weather(heatwave/storms/......) conditions<sup><a href="#note1">1</a></sup></a>.
    </p>
    <div id="container1" class="event-style">{% include 'event.html' %}</div>
    <hr>
    <h1 class="h1-style">Page Directory：</h1>
    <div>
            <h2 class="h2-style"><a href="#id-1">2017-2022 English TIFF</a></h2>
            <br />
            <h2 class="h2-style"><a href="#id-2">United Kingdom's value of trade in food, feed and drink </a></h2>
            <br />
            <h2 class="h2-style"><a href="#id-3">Pre-Brexit forecasts and post-Brexit data revisions</a></h2>
            <br />
            <h2 class="h2-style"><a href="#id-4">Distribution of farming types in the UK (environment......)</a></h2>
            <br />
    </div>
    <hr>
    <div id="id-1">
        <p>Although Scotland, Wales, Northern Ireland are important contributors to Uk agricultural output in monetary terms,
        their datasets are not as comprehensive or updated as English datasets. So we'll focus on 2017-2022 England. </p>
        <p>Other constituent countries' datasets can be found by below links</p>
        <h5 class="h5-style"><a href="https://www.gov.scot/collections/total-income-from-farming/">Collection of total income from farming (TIFF) estimates for Scotland publications</a></h5>
        <h5 class="h5-style"><a href="https://www.gov.wales/farm-incomes">Farm incomes in wales including forecasts</a></h5>
        <h5 class="h5-style"><a href="https://www.daera-ni.gov.uk/articles/ni-agricultural-incomes">TIFF in Northern Ireland</a></h5>


        <p></p>
        <h3 class="h3-style">2017-2022 English TIFF separated by regions in million GBP at 2022 prices<sup><a href="#note2">2</a></sup></h3>
        <div id="container0_modified" class="englishregions-style">{% include 'englishregions2017_2022.html'%}</div>
        <hr>
        <h3 class="h3-style">English Map</h3>
        <p></p>
    </div>
     <hr>
    <div id="id-2">
        <p>Since the UK left the EU, the arrangements for how the UK trades with the EU have changed.
            The following section will apply data to display the impact of Brexit on UK's overseas trade in agricultural stuff, excluding other goods like material manufactures or fuels.</p>
        <p>Moreover, it will pay more attention to annual changes rather than quarterly's, as the seasonal fluctuations in UK agricultural are significant. For example, during the summer months,
            the UK can grow plenty of its own produce like lettuces and soft berries such as raspberries and strawberries, but when the weather turns colder Britain is forced to rely much more on imports from the EU.</p>
        <h3 class="h3-style">United Kingdom's value of trade in food, feed and drink in million GDP at 2022 prices<sup><a href="#note3">3</a></sup></h3>
        <p>Prices adjusted by ONS(Office for National Statistics) implied deflators for trade MRET(UK trade time series: Monthly value of UK exports and imports of goods and services by current price, chained volume measures and implied deflators)</p>
        <div id="container5" class="im-export-style">{% include '2000_2022im_export.html' %}</div>
        <p>From 2022 onwards, all trade data will be compiled from Customs declarations following the UK’s withdrawal from the European Union.</p>
        <hr>
        <h3 class="h3-style">United Kingdom Food Products Top12 Exports, Imports, Tariffs by country 2015-2021 at each year's prices (US$ Thousand)<sup><a href="#note4">4</a></sup></h3>
        <p>The worldbank.org currently updates the data focused on UK's overseas food trade up to the year 2021, although other sources have latest data,
            we do not consider applying them due to differences in statistical methods and currency measurement.</p>
        <div class="parallel0">
            <div id="chart0" class="race-exports-style">{% include 'exports12.html' %}</div>
            <div id="chart1" class="race-imports-style">{% include 'imports12.html' %}</div>
        </div>
        <p></p>
        <h3 class="h3-style">United Kingdom Food Products Top12 Exports, Imports, Tariffs by region 2015-2021 at each year's prices (US$ Thousand)<sup><a href="#note4">4</a></sup></h3>
        <div class="parallel1">
            <div id="container8" class="line-exports-style">{% include 'exports_regions.html' %}</div>
            <div id="container9" class="line-imports-style">{% include 'imports_regions.html' %}</div>
        </div>
        <p>From the dynamic chart above, it's evident that the EU is a crucial destination for the UK's food imports and exports.
           Meanwhile, it's been said that "Europe is the UK’s leading foreign supplier of food, accounting for more than a quarter of food consumed in Britain by value."
            <br /><br />New border measures after Brexit impact the flow of critical food ingredients from the EU to the UK.
        </p>
        <p>做一个border control政策时间线/关税UK Tariff</p>
        <p>https://www.gov.uk/guidance/import-or-move-food-and-drink-from-the-eu-and-northern-ireland-to-great-britain</p>
        <iframe height="337px" width="100%" src="https://www.ons.gov.uk/visualisations/dvc2474/fig5/index.html"></iframe>

    </div>
     <hr>

    <div id="id-3">
       <h3 class="h3-style">Pre-Brexit forecasts and post-Brexit data revisions</h3>

    </div>
     <hr>
    <div id="id-4">

        <h3 class="h3-style">Distribution of farming types in the UK (environment......)</h3>
    </div>
    <hr>
    <p><strong>Data from:</strong></p>
    <p id="note1"><sup>1</sup> https://www.metoffice.gov.uk/weather/learn-about/past-uk-weather-events </p>
    <p id="note2"><sup>2</sup> https://www.gov.uk/government/statistics/agricultural-facts-england-regional-profiles
    <br />The data of London is included in the South East region
    </p>
    <p id="note3"><sup>3</sup> https://www.gov.uk/government/statistics/agriculture-in-the-united-kingdom-2022/chapter-13-overseas-trade</p>
    <p id="note4"><sup>4</sup> worldbank.org
    <br />For example, United Kingdom Food Products Exports, Imports, Tariffs by country and region 2021: https://wits.worldbank.org/CountryProfile/en/Country/GBR/Year/2021/TradeFlow/EXPIMP/Partner/all/Product/16-24_FoodProd
    </p>
</body>
</html>