<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>data_visualization</title>
</head>
<body>
    <div>{% include 'header.html' %}</div>
    <h1>2017-2022 England, separated by regions</h1>
    <div style="background-color: #f2f2f2; padding: 20px; border-radius: 5px; height:480px; width:1000px;">{% include 'dataset-link.html' %}</div>
    <iframe src="{{ url_for('static', filename='uk_regions_map.html') }}" style="height:480px;width:600px;"></iframe>
    <h1>Data Graphs</h1>
    <h1>Distribution of farming types in the UK</h1>
</body>
</html>