<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container9" style="height: 100%"></div>


  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>

  <script type="text/javascript">
    var dom9 = document.getElementById('container9');
    var myChart9 = echarts.init(dom9, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};

    var option9;

    option9 = {

  tooltip: {
    trigger: 'axis'
  },
  legend: {
    data: ['World', 'Europe', 'Central Asia', 'East Asia&Pacific', 'North America','Middle East&North Africa','Latin America&Caribbean','Sub-Saharan Africa','South Asia']
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  toolbox: {
    feature: {
      saveAsImage: {}
    }
  },
  xAxis: {
    type: 'category',
    boundaryGap: false,
    data: ['2015', '2016', '2017', '2018','2019', '2020', '2021']
  },
  yAxis: {
    type: 'value',
   min: 500000,
max: 35000000,


interval: 5000000
  },
  series: [
    {
      name: 'World',
      type: 'line',

      data: [32495894.8, 30574626.32,31608359.47,33598109.42, 33345267.88,34196806.39,33841414.98]
    },
    {
      name: 'Europe',
      type: 'line',

      data: [25173685.78, 23769395.94,24653578.06,26113849.25,26131081.71,26761032.45,25927791.28]
    },
    {
      name: 'Central Asia',
      type: 'line',

      data: [182947.27, 165518.78, 188467.31, 218294.95 , 225269.2 ,238922.66  ,238688.93]
    },
    {
      name: 'North America',
      type: 'line',

      data: [  1467422.84, 1153008.76,1259140.65,1402970.29,1279235.89,1296946.38,1348757.44]
    },
    {
      name: 'Middle East&North Africa',
      type: 'line',

      data: [  96047.15,  99777.08,108547.34,114433.82 ,102163.43,113210.79,138606.20]
    },
    {
      name: 'Latin America&Caribbean',
      type: 'line',

      data: [ 1965960.93, 1914271.52, 1869005.88,1982088.10,1913140.34, 1936621.90,2232162.27]
    },
    {
      name: 'Sub-Saharan Africa',
      type: 'line',

      data: [ 900986.20, 857227.96,851897.89,887487.55,809120.78,883231.00,823231.09]
    },
    {
      name: 'South Asia',
      type: 'line',

      data: [198802.67,  198584.40,212579.77,247920.15,249905.48,281467.61,367967.84]
    },
    {
      name: 'East Asia&Pacific',

      type: 'line',

      data: [2489698.33,2396836.20,2440041.33,2608647.48,2615176.59,  2637294.50,2727256.69]
    },
  ]
};
    if (option9 && typeof option9 === 'object') {
      myChart9.setOption(option9);
    }

    window.addEventListener('resize', myChart9.resize);
  </script>
</body>
</html>