<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>public_opinion_analysis</title>
</head>
<body>
    <div>{% include 'header.html' %}</div>
    <h1>Google Trends</h1>
    <h1>Twitter public opinion analysis</h1>
    <h1>Brexit or no Brexit</h1>
    <p>“There may well be grants and subsidies but we don’t know what they are going to be yet.
        We know they have said public money for public good.
        But it doesn’t mean anything, that is just a slogan.” By Jeremy Clarkson</p>
    <p>The common agricultural policy (cap), which Britain leaves on January 1st after 47 years,
        has been a lousy deal for the country. </p>
</body>
</html>
