<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='regulations.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regulations</title>
</head>
<body>
    <div>{% include 'header.html' %}</div>
    <p>CAP (EU's Common Agricultural Policy) is a system of agricultural subsidies and programmes covering farming, environmental measures and rural development.
        Having left the EU, the UK is now free to design its own agricultural policy to replace the CAP, although key elements of the CAP-based system currently remain in place.</p>
    <p>Before Brexit, the government promised to match EU funding. <p class="underline">However, the critical question remains: Were these promises fulfilled?<p></p>
    <div>
            <h2 class="h2"><a href="#id-1">Common Agricultural Policy</a></h2>
            <br />
            <h2 class="h2"><a href="#id-2">New Regulations Designed to Replace CAP/Agriculture subsidies after Brexit</a></h2>
            <br />
            <h2 class="h2"><a href="#id-4">...</a></h2>
            <br />
    </div>
    <hr>
    <div id="id-1">
        <h3>2010-2022 All CAP payments in Euros million by funding stream for United Kingdom, shows payments after deduction for modulation where appropriate.<sup><a href="#note1">1</a></sup></h3>
        <div class="parallel1">
            <div id="container10" class="ukcap-style">{% include '2010_2022ukcap.html' %}</div>
            <div class="text-style">
                <p>The CAP is divided into two pillars. Pillar 1 covers direct support and market supports, and rural development is in Pillar 2.</p>
            <p>Direct support consists of payments granted directly to farmers and provides baseline income support and operates as a safety net in cases of market disturbances.<br />
                Market prices are for many current and future challenges, including global competition, economic and financial crises, climate.</p>
            <p>European Agricultural Fund for Rural Development (EAFRD)<br />
                Co-financing</p>
            </div>
        </div>
        <h3>2010-2022 All CAP payments in Euros million by funding stream for United Kingdom separated by regions<sup><a href="#note1">1</a></sup></h3>
        <div id="pivot-container">{% include '2010_2022cap.html' %}</div>
        <p>For more detailed CAP payments, use this link: <a href="https://cap-payments.defra.gov.uk/Search.aspx">Payments Search</a></p>
        <div>
            <p>It is difficult to decide whether the CAP does more harm than good. </p>
            <div class="pros-cons-style">{% include 'pros_cons_cap.html' %}</div>
        </div>
    </div>
    <div id="id-2">
    </div>
    <div id="id-3">
    </div>
    <p>Farming businesses: working after Brexit transition</p>
    <p>The Chancellor has today confirmed nearly £3 billion of funding for 2020 to support farmers once the UK leaves the EU.</p>
    <h1>Regulations</h1>
    <h3>Farmers Weekly survey</h3>
    <h2>Farm Subsidies 2018-2022 </h2>
    <h3>Covid-19/Russo-Ukrainian War/Inflation</h3>
    <p>Labour shortages cost millions in fruit and veg waste: Seasonal Worker visa (Temporary Work)</p>
    <hr>
    <p><strong>Data from:</strong></p>
    <p id="note1"><sup>1</sup> https://assets.publishing.service.gov.uk/media/6215ff49e90e0710b9a8bdff/AUK2020_22feb22.pdf </p>
</body>
</html>