<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regulations</title>
</head>
<body>
    <h1>Regulations</h1>
    <h1>Brexit or no Brexit</h1>
    <p>“There may well be grants and subsidies but we don’t know what they are going to be yet.
        We know they have said public money for public good.
        But it doesn’t mean anything, that is just a slogan.” By Jeremy Clarkson</p>
    <h3>Farmers Weekly survey</h3>
    <h2>Farm Subsidies 2018-2022 </h2>
    <h3>Covid-19/Russo-Ukrainian War/Inflation</h3>
    <p>Labour shortages cost millions in fruit and veg waste: Seasonal Worker visa (Temporary Work)</p>
</body>
</html>