<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Highcharts Charts</title>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://rawgit.com/mholt/PapaParse/master/papaparse.js"></script>
<style>
/* Apply flexbox to the body to arrange charts in a row */
.test {
    display: flex;
}

.container {
    width: 33.33%; /* Each chart occupies 33% of the width */
    height: 400px;
    margin: 10px; /* Add margin for spacing */
}
</style>
</head>
<body>
<div id="employment0" class="test">
    <div class="container" id="test1"></div>
    <div class="container" id="test2"></div>
    <div class="container" id="test3"></div>
</div>
<select name="" id="select">
  <option value="2022">2022</option>
  <option value="2021">2021</option>
  <option value="2020">2020</option>
  <option value="2019">2019</option>
  <option value="2018">2018</option>
  <option value="2017">2017</option>
  <option value="2016">2016</option>
  <option value="2015">2015</option>
</select>



<pre id="data">
Year,Region,Category,Data1
2022,EU,Total,2472100
2022,UK,Total,26356000
2022,Non-EU,Total,2969200
2022,EU,Agricultural,21300
2022,UK,Agricultural,159800
2022,Non-EU,Agricultural,7400

2021,EU,Total,2477000
2021,UK,Total,26078700
2021,Non-EU,Total,2426800
2021,EU,Agricultural,22400
2021,UK,Agricultural,161400
2021,Non-EU,Agricultural,5300

2020,EU,Total,2449900
2020,UK,Total,25039100
2020,Non-EU,Total,2122600
2020,EU,Agricultural,24200
2020,UK,Agricultural,153900
2020,Non-EU,Agricultural,3300

2019,EU,Total,2637700
2019,UK,Total,25895000
2019,Non-EU,Total,2110600
2019,EU,Agricultural,26900
2019,UK,Agricultural,156600
2019,Non-EU,Agricultural,2700

2018,EU,Total,2590800
2018,UK,Total,25798400
2018,Non-EU,Total,1974400
2018,EU,Agricultural,27200
2018,UK,Agricultural,154000
2018,Non-EU,Agricultural,2200

2017,EU,Total,2520900
2017,UK,Total,25629300
2017,Non-EU,Total,1886900
2017,EU,Agricultural,27800
2017,UK,Agricultural,152700
2017,Non-EU,Agricultural,2200

2016,EU,Total,2406100
2016,UK,Total,25386500
2016,Non-EU,Total,1813800
2016,EU,Agricultural,26800
2016,UK,Agricultural,151400
2016,Non-EU,Agricultural,2200

2015,EU,Total,2212900
2015,UK,Total,25217400
2015,Non-EU,Total,1760200
2015,EU,Agricultural,26800
2015,UK,Agricultural,151400
2015,Non-EU,Agricultural,2300
</pre>

<script>
var csv = Papa.parse(document.getElementById('data').innerHTML);

var test1 = Highcharts.chart('test1', {
  xAxis: {
    type: 'category'
  },
  series: [{
    type: 'bar',
    name: 'Data',
    data: [],
    keys: ['name', 'y']
  }],
});

var test2 = Highcharts.chart('test2', {
  xAxis: {
    type: 'category'
  },
  series: [{
    type: 'pie',
    name: 'Data',
    data: [],
    keys: ['name', 'y']
  }],
});

var test3 = Highcharts.chart('test3', {
  xAxis: {
    type: 'category'
  },
  series: [{
    type: 'line',
    name: 'Data',
    data: [],
    keys: ['name', 'y']
  }],
});


function filterData(year, region, category) {
  var data = [];

  for (var j = 0; j < csv.data.length; j++) {
    // Check if the row matches the selected year, region, and category
    if (csv.data[j][0] === year && csv.data[j][1] === region && csv.data[j][2] === category) {
      data.push([
        csv.data[j][2] + ', ' + csv.data[j][1], +csv.data[j][3] // Concatenate region and category for name
      ]);
    }
  }

  return data;
}

function updateCharts() {
  var year = yearSelect.value;
  var region = regionSelect.value;
  var category = categorySelect.value;

  var data = filterData(year, region, category);

  test1.series[0].setData(data);
  test2.series[0].setData(data);
  test3.series[0].setData(data);
}

var yearSelect = document.getElementById('year');
var regionSelect = document.getElementById('region');
var categorySelect = document.getElementById('category');

yearSelect.addEventListener('change', updateCharts);
regionSelect.addEventListener('change', updateCharts);
categorySelect.addEventListener('change', updateCharts);

// Initial update
updateCharts();
</script>


</body>
</html>
