<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Highcharts Charts</title>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://rawgit.com/mholt/PapaParse/master/papaparse.js"></script>
<style>
/* Apply flexbox to the body to arrange charts in a row */
.test {
    display: flex;
}

.container {
    width: 33.33%; /* Each chart occupies 33% of the width */
    height: 400px;
    margin: 10px; /* Add margin for spacing */
}
</style>
</head>
<body>
<div class="test">
    <div class="container" id="test1"></div>
    <div class="container" id="test2"></div>
    <div class="container" id="test3"></div>
</div>
<select name="" id="select">
  <option value="Jan">January</option>
  <option value="Feb">February</option>
  <option value="Mar">March</option>
  <option value="Apr">April</option>
  <option value="May">May</option>
  <option value="Jun">June</option>
</select>

<pre id="data">Nick,1,2,3,9,12,33
Ann,5,6,7,4,23,8
Joe,7,8,9,2,21,14</pre>

<script>
var csv = Papa.parse(document.getElementById('data').innerHTML);

Highcharts.chart('test1', {
  xAxis: {
    type: 'category'
  },
  series: [{
    type: 'bar',
    name: 'People',
    data: [
      ['Nick', 35],
      ['Ann', 45],
      ['Joe', 29]
    ],
    keys: ['name', 'y']
  }],
});

Highcharts.chart('test2', {
  xAxis: {
    type: 'category'
  },
  series: [{
    type: 'pie',
    name: 'People',
    data: [
      ['Nick', 35],
      ['Ann', 45],
      ['Joe', 29]
    ],
    keys: ['name', 'y']
  }],
});

Highcharts.chart('test3', {
  xAxis: {
    type: 'category'
  },
  series: [{
    type: 'line',
    name: 'People',
    data: [
      ['Nick', 35],
      ['Ann', 45],
      ['Joe', 29]
    ],
    keys: ['name', 'y']
  }],
});


var select = document.getElementById('select');

select.addEventListener('change', (e) => {
  var month = e.target.value;
  var monthsArr = Highcharts.defaultOptions.lang.shortMonths;
  var monthIndex = monthsArr.indexOf(month) + 1;
  var data = [];

  for (var j = 0; j < csv.data.length; j++) {
    data.push([
      csv.data[j][0], +csv.data[j][monthIndex]
    ]);
  }

  Highcharts.charts.forEach((chart) => {
    chart.series[0].update({
      data: data
    }, false, false, false);

    chart.redraw();
  });
});
</script>

</body>
</html>
